.product {
  margin: 0;
  .product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .product-menu {
      cursor: pointer;
      padding: 12px 20px;
      background-color: #f4f5f7;
      text-align: center;
      white-space: nowrap;
      font-weight: 500;
      flex: 1;
      font-size: 15px;
      &.active {
        color: white;
        background-color: #2979ff;
        pointer-events: none;
      }
    }
    @include mobile {
      display: block;
      padding: 10px;
    }
  }
  .product-wrapper {
    display: grid;
    grid-template-columns: 400px 800px;
    gap: 40px;
    padding: 0 25px;
    .product-container {
      display: none;
      &.active {
        display: block;
      }
      .product-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .product-item {
          margin: 15px;
          padding: 10px 10px 5px 0;
          display: flex;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          img {
            height: 100%;
            width: 150px;
            @include mobile {
              margin: auto;
            }
          }
          .product-content {
            width: 100%;
            .title {
              display: -webkit-box;
              height: 15px * 1.3 * 3;
              font-size: 13px;
              line-height: 1.3;
              -webkit-line-clamp: 3; /* số dòng hiển thị */
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .author {
              font-size: 10px;
              margin-bottom: 20px;
            }
            .current {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
            .price {
              color: red;
              font-size: 18px;
              font-weight: 600;
            }
            .discount {
              padding: 5px 5px;
              background-color: red;
              color: white;
              border-radius: 4px;
              font-size: 10px;
            }
            .quantity {
              text-align: right;
              font-size: 18px;
              padding-bottom: 0;
            }
          }
          @include mobile {
            display: grid;
            padding: 5px;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
          }
        }
        @include mobile {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0;
        }
      }
    }
    @include mobile {
      display: grid;
      grid-template-columns: auto;
    }
  }
  @include tablet {
    .product-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }
  }
}
