.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: $main-color;
  &__logo {
    margin-right: auto;
    font-size: 25px;
    color: white;
    font-weight: 600;
  }
  nav {
    a {
      margin-left: 20px;
      font-size: 20px;
      color: $txt-color;
      font-weight: 400;
      &:hover {
        color: $main-color-hover;
      }
    }
    .close-btn {
      font-size: 70px;
      display: none;
    }
  }
  &__icons a,
  div {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    color: $txt-color;

    &:hover {
      color: $main-color-hover;
    }
  }
  .menu-btn {
    display: none;
  }
  @include mobile {
    .menu-btn {
      display: inline-block;
    }
    &__navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: white;
      width: 350px;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }
      a {
        margin: 10px 30px;
        font-size: 30px;
      }
      .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }
  }
}
