.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  img {
    width: 100%;
    height: auto;
  }
  &__info {
    padding: 20px;
    span {
      font-size: 15px;
    }
  }
  @include mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
