.detail {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  img {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .detail-image {
    width: 40%;
    margin-right: 50px;
    .image-group {
      display: flex;
      .image-small-col {
        flex-basis: 25%;
      }
    }
  }
  .detail-info {
    width: 60%;
    h4 {
      padding: 20px 0;
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      color: red;
    }
    h1 {
      margin: 20px 0;
    }
    input {
      width: 50px;
      height: 50px;
      padding-left: 15px;
      font-size: 16px;
      margin-right: 10px;
    }
    button {
      padding: 15px 20px;
      border: none;
      background-color: #2979ff;
      color: white;
    }
    span {
      font-size: 15px;
    }
  }
  @include mobile {
    display: inline-block;
    .detail-image {
      width: 100%;
    }
    .detail-info {
      width: 100%;
      h4 {
        font-size: 20px;
        padding: 0;
      }
    }
  }
}
